body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30vh auto;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    width: 100vw;
}

body > div {
    display: grid;
    padding: 3vh 3vw 3vh 3vw;
}

button[class=search] {
    background-color: #ffffff00;
    border: none;
    font-size: 1.25rem;
}

#content {
    background-color: #d5e2dd;
    grid-template-columns: 2 / -1;
    grid-template-rows: 2 / -1;
}

form {
    align-items: center;
    display: flex;
}

input[type=search] {
    background-color: #cfd8d3;
    border: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    height: 1.5rem;
}

#sidebar {
    background-color: #34d399;
    grid-column: 1;
    grid-row: 1 / -1;
}

#top {
    background-color: #ecfdf5;
    color: #022c22;
    grid-template-columns: 2 / -1;
    grid-template-rows: 1;
}

#top > div {
    display: grid;
    grid-template-rows: 1fr 2fr;
}