* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30vh auto;
    min-height: 100vh;
    width: 100vw;
}

body > div {
    display: grid;
    padding: 3vh 3vw 3vh 3vw;
}

.bottom-right {
    display: flex;
}

button[class=search] {
    background-color: #ffffff00;
    border: none;
    font-size: 1.25rem;
}

#content {
    background-color: #d5e2dd;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    grid-template-columns: 5fr 2fr;
}

#content > div > span + div {
    gap: ;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 2vw;
    row-gap: 2vh;
}

#content > div > span + div > div { 
    background-color: white;
}

#content span + div {
    display: grid;
}

.icon {
    border-radius: 50%;
    box-sizing: border-box;
}

.icon-large {
    height: 4rem;
}

.icon-small {
    height: 2rem;
}

input[type=search] {
    background-color: #cfd8d3;
    border: none;
    border-radius: 0.75rem;
    flex-grow: 1;
    font-size: 1rem;
    height: 1.5rem;
}

p {
    font: inherit;
}

#sidebar {
    background-color: #2bc88e;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    grid-column: 1;
    grid-row: 1 / -1;
}

#sidebar * {
    color: white;
    font-weight: bold;
}

#sidebar img[src$='.svg'] {
    filter: invert(1);
}

#sidebar > span {
    align-items: center;
    display: flex;
    font-size: 1.75rem;
    gap: 2vw;
}

#sidebar > span > img {
    height: 2.25rem;
}

#sidebar > ul {
    display: grid;
    gap: 3vh;
}

#sidebar > ul,
#sidebar > ul > li {
    list-style-type: none;
}

#sidebar > ul > li {
    align-items: center;
    display: flex;
    gap: 2vw;
}

#sidebar > ul > li > img {
    height: 1.5rem;
}

#top {
    background-color: #ecfdf5;
    color: #022c22;
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
}

#top > form {
    display: flex;
}

#top > div,
#top > form {
    align-items: center;
    display: flex;
    gap: 2vw;
}

#top > div > button {
    background-color: #2bc88e;
    border: none;
    border-radius: 1rem;
    color: white;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem .5rem .5rem .5rem;
}

.top-right {
    justify-content: end;
}

.un-small {
    font-size: 1.25rem;
}

.un-large {
    font-size: 1.25rem;
}

.username {
    font-weight: bold;
    justify-content: center;
}

.username > p:first-of-type {
    font-size: .75rem;
}