* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#announcements > div {
    display: grid;
    gap: 2vh;
    padding: 3vh 2vw 3vh 2vw;
}

#announcements > div,
#content > div > h4 + div > div,
#trending > div {
    background-color: white;
    border-radius: .75vw;
}

#announcements > div > div > p {
    color: #737373;
    font-size: .8rem;
    margin-top: .25rem;
}

#announcements > div > span {
    background-color: #a3a3a3;
    height: 1px;
    width: 100%;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30vh auto;
    min-height: 100vh;
    width: 100vw;
}

body > div {
    display: grid;
    padding: 3vh 3vw 3vh 3vw;
}

.bottom-right {
    display: flex;
}

button[class=search] {
    background-color: #ffffff00;
    border: none;
    font-size: 1.25rem;
}

#content {
    background-color: #d5e2dd;
    gap: 2vw;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    grid-template-columns: 5fr 2fr;
    padding-bottom: 10vh;
}

#content > div > h4 + div {
    column-gap: 1vw;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    height: 100%;
    row-gap: 2vh;
    width: 100%;
}

#content > div > h4 + div > div { 
    align-content: start;
    border: solid #84cc16;
    border-width: 0 0 0 .75vw;
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr 4fr 1fr;
    justify-content: start;
    padding: 3vh 2vw 3vh 2vw;
}

#content > div > h4 + div > div > h3 {
    font-size: 1.1rem;
}

#content > div > h4 + div > div > p {
    color: #737373;
    font-size: .9rem;
}

#content > div > h4 + div > div > span {
    align-self: end;
    display: flex;
    justify-content: end;
}

#content > div > h4 + div > div > span > img {
    height: 1rem;
}

#content h4 {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 2vh 0 2vh 0;
}

#content h4 + div {
    display: grid;
}

.flex-column {
    gap: 3vh;
}

.flex-column,
.flex-column > div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.flex-column > div > div {
    flex-grow: 1;
}

.icon {
    border-radius: 50%;
    box-sizing: border-box;
}

.icon-large {
    height: 4rem;
}

.icon-small {
    height: 2rem;
}

input[type=search] {
    background-color: #cfd8d3;
    border: none;
    border-radius: 0.75rem;
    flex-grow: 1;
    font-size: 1rem;
    height: 1.5rem;
}

p {
    font: inherit;
}

#sidebar {
    background-color: #2bc88e;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    grid-column: 1;
    grid-row: 1 / -1;
}

#sidebar * {
    color: white;
    font-weight: bold;
}

#sidebar img[src$='.svg'] {
    filter: invert(1);
}

#sidebar > span {
    align-items: center;
    display: flex;
    font-size: 1.75rem;
    gap: 2vw;
}

#sidebar > span > img {
    height: 2.25rem;
}

#sidebar > ul {
    display: grid;
    gap: 3vh;
}

#sidebar > ul,
#sidebar > ul > li {
    list-style-type: none;
}

#sidebar > ul > li {
    align-items: center;
    display: flex;
    gap: 2vw;
}

#sidebar > ul > li > img {
    height: 1.5rem;
}

#top {
    background-color: #ecfdf5;
    color: #022c22;
    display: grid;
    grid-column: 2 / -1;
    grid-row: 1;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr 2fr;
}

#top > form {
    display: flex;
}

#top > div,
#top > form {
    align-items: center;
    display: flex;
    gap: 2vw;
}

#top > div > button {
    background-color: #2bc88e;
    border: none;
    border-radius: 1rem;
    color: white;
    flex-grow: 1;
    font-size: 1rem;
    font-weight: bold;
    padding: .5rem .5rem .5rem .5rem;
}

#trending > div {
    background-color: white;
    display: grid;
    gap: 2vh;
    padding: 2vh 2vw 2vh 2vw;
}

#trending > div > div {
    display: flex;
    gap: 1.5vw;
}

#trending > div > div > div > h6 {
    font-size: .75rem;
    font-weight: normal;
}

#trending > div > div > div > p {
    color: #737373;
    font-size: .9rem;
}

.top-right {
    justify-content: end;
}

.un-small {
    font-size: 1.25rem;
}

.un-large {
    font-size: 1.25rem;
}

.username {
    font-weight: bold;
    justify-content: center;
}

.username > p:first-of-type {
    font-size: .75rem;
}